//plik z globalnymi resetami
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width:360px
}

.global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: linear-gradient(20deg, #2af598 0%, #009efd 100%);
}